<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <TrueSuite.Properties.Settings>
            <setting name="FullName" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value />
            </setting>
            <setting name="Zip" serializeAs="String">
                <value />
            </setting>
            <setting name="Registered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSetWindowsPW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebItemsUserIgnored" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="IsFirstSetup" serializeAs="String">
                <value>False</value>
            </setting>
        </TrueSuite.Properties.Settings>
    </userSettings>
</configuration>